<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
          PUBLIC "-//mybatis.org/DTD Config 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	 <settings>
	 	<setting name="jdbcTypeForNull" value="NULL"/>
	 	<setting name="logImpl" value="LOG4J2"/> <!-- log4j와 MyBatis 연동. 쿼리문과 실행결과를 로그로 출력 -->
	 </settings>
	 
	 <typeAliases>
	 	<typeAlias type="org.ppiyung.ppiyung.member.vo.Member" alias="Member"/>
	 	<typeAlias type="org.ppiyung.ppiyung.board.vo.BoardList" alias="BoardList" />
		<typeAlias type="org.ppiyung.ppiyung.board.vo.Board" alias="Board"/>
	 	<typeAlias type="org.ppiyung.ppiyung.recruit.vo.Recruit" alias="Recruit"/>
	 	<typeAlias type="org.ppiyung.ppiyung.board.vo.Reply" alias="Reply"/>
	 	<typeAlias type="org.ppiyung.ppiyung.recruit.vo.Apply" alias="Apply"/>
	 	<typeAlias type="org.ppiyung.ppiyung.recruit.vo.BookMark" alias="BookMark"/>
	 </typeAliases>
	 
</configuration>