<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ppiyung.ppiyung.member">
	<resultMap id="MemberMapped" type="Member">
	    <result property="memberId" column="member_id" />
	    <result property="memberPw" column="member_pw" />
	    <result property="memberName" column="member_name" />
	    <result property="memberBirth" column="member_birth" />
	    <result property="memberGender" column="member_gender" />
	    <result property="memberPhone" column="member_phone" />
   	    <result property="memberAddr" column="member_addr" />
	    <result property="memberCoordX" column="member_coord_x" />
	    <result property="memberCoordY" column="member_coord_y" />
	    <result property="memberNickname" column="member_nickname" />
	    <result property="memberEmail" column="member_email" />
	    <result property="memberType" column="member_type" />
   	    <result property="memberRegNum" column="member_reg_num" />
	    <result property="memberInfo" column="member_info" />
	    <result property="memberActive" column="member_active" />
	    <result property="memberCreatedAt" column="member_created_at" />
	    <result property="workAreaId" column="work_area_id" />
   	    <result property="memberVerified" column="member_verified" />
    </resultMap>

	<select id="login" parameterType="Member"
	        resultMap="MemberMapped">		
	        
	   <!-- 로그인 -->
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_verified
			FROM member_tb 
			WHERE member_id = #{memberId} AND member_pw = #{memberPw}
		]]>
	</select>
	
	<!-- 회원전체조회 -->
		<select id="selectAll" resultMap="MemberMapped">		
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_verified
			FROM member_tb 
		]]>
	</select>
	
	<!-- 개별회원조회 -->
	<select id="select" parameterType="Member"
   			resultMap="MemberMapped">		
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_verified
			FROM member_tb 
			WHERE member_id = #{memberId}
		]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id="signin" parameterType = "Member">
		<![CDATA[
			INSERT INTO member_tb 
			(member_id, member_pw, member_name, member_birth, member_gender, 
			member_phone, member_addr, member_coord_x, member_coord_y, member_nickname, 
			member_email,member_type,member_reg_num, member_info,member_active, 
			work_area_id, member_verified) 
			values 
			(#{memberId},#{memberPw},#{memberName},#{memberBirth},#{memberGender},
			#{memberPhone}, #{memberAddr},#{memberCoordX},#{memberCoordY},#{memberNickname},
			#{memberEmail},#{memberType},#{memberRegNum},#{memberInfo},#{memberActive},
			#{workAreaId},#{memberVerified})
			]]>
	
	</insert>
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="Member">
		<![CDATA[ 
			UPDATE member_tb 
			SET 
			member_pw= #{memberPw} , member_name=#{memberName}, member_birth= #{memberBirth},
			member_phone = #{memberPhone}, member_addr = #{memberAddr},
			member_coord_x = #{memberCoordX} , member_coord_y = #{memberCoordY}, member_nickname = #{memberNickname},
			member_email =  #{memberEmail}, member_info = #{memberInfo} ,work_area_id= #{workAreaId},member_verified = #{memberVerified}
			WHERE
		    member_id= #{memberId}
		]]>
	</update>
	
	

</mapper>