<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ppiyung.ppiyung.member">
	<select id="login" parameterType="Member"
	        resultType="Member">		
	        
	   <!-- 로그인 -->
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_img, member_verified
			FROM member_tb 
			WHERE member_id = #{member_id} AND member_pw = #{member_pw}
		]]>
	</select>
	
	<!-- 회원전체조회 -->
		<select id="selectAll"  resultType="Member">		
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_img, member_verified
			FROM member_tb 
		]]>
	</select>
	
	<!-- 개별회원조회 -->
	<select id="select" parameterType="Member"
   resultType="Member">		
		<![CDATA[
			SELECT member_id, member_pw, member_name, member_birth,
					member_gender, member_phone, member_addr, member_coord_x, member_coord_y,
					member_nickname, member_email, member_type, member_reg_num, member_info,
					member_active, member_created_at, work_area_id, member_img, member_verified
			FROM member_tb 
			WHERE member_id = #{member_id}
		]]>
	</select>
	
	<insert id="insert" parameterType="Member">
		<![CDATA[
			INSERT INTO members
			VALUES(#{memberId}, #{memberName}, #{memberPw})
		]]>
	</insert>
	
	<update id="update" parameterType="Member">
		<![CDATA[
			UPDATE members
			SET memberName=#{memberName}, memberPw=#{memberPw}
			WHERE memberId = #{memberId}
		]]>
	</update>
	
	<update id="updateToEmpty" parameterType="Member">
		<![CDATA[
			UPDATE members
			SET memberName='', memberPw=''
			WHERE memberId = #{memberId}
		]]>
	</update>
	
	
	<!-- 회원가입 -->
	<insert id="signin" parameterType = "Member">
		<![CDATA[
			INSERT INTO member_tb 
			(member_id, member_pw, member_name, member_birth, member_gender, 
			member_phone, member_addr, member_coord_x, member_coord_y, member_nickname, 
			member_email,member_type,member_reg_num, member_info,member_active, 
			work_area_id, member_img, member_verified) 
			values 
			(#{member_id},#{member_pw},#{member_name},#{member_birth},#{member_gender},
			#{member_phone}, #{member_addr},#{member_coord_x},#{member_coord_y},#{member_nickname},
			#{member_email},#{member_type},#{member_reg_num},#{member_info},#{member_active},
			#{work_area_id},#{member_img},#{member_verified})
			]]>
	
	</insert>
	
	<!-- 회원정보수정 -->
	<update id="updateMember" parameterType="Member">
		<![CDATA[ 
			UPDATE member_tb 
			SET 
			member_pw= #{member_pw} , member_name=#{member_name}, member_birth= #{member_birth},
			member_phone = #{member_phone}, member_addr = #{member_addr},
			member_coord_x= #{member_coord_x} , member_coord_y = #{member_coord_y}, member_nickname = #{member_nickname},
			member_email =  #{member_email}, member_info = #{member_info} ,work_area_id= #{work_area_id}, member_img=#{member_img},member_verified =#{member_verified}
			WHERE
		    member_id= #{member_id}
		]]>
	</update>
	
	

</mapper>