<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ppiyung.ppiyung.notify">

  	<resultMap id="NotifyMapped" type="Notify">
	    <result property="notificationId" column="notification_id" />
	    <result property="memberId" column="member_id" />
	    <result property="suggestId" column="suggest_id" />
	    <result property="applyId" column="apply_id" />
	    <result property="notificationCreatedAt" column="notification_create_at" />
    </resultMap>

	<!-- 지원 알림 생성 -->
	<insert id="insertApplyNotify" parameterType="Notify">
		<![CDATA[
		INSERT INTO notification_tb (apply_id, member_id)
		VALUES (#{applyId}, #{memberId})
		]]>
	</insert>
	
	<!-- 지원 알림 생성 -->
	<insert id="insertSuggestNotify" parameterType="Notify">
		<![CDATA[
		INSERT INTO notification_tb (suggest_id, member_id)
		VALUES (#{suggestId}, #{memberId})
		]]>
	</insert>
	
	<!-- 알림 삭제 -->
	<delete id="deleteNotify" parameterType="Notify">
		<![CDATA[
		DELETE FROM notification_tb
		WHERE notification_id=#{notificationId}
		]]>
	</delete>
	

</mapper>