<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.ppiyung.ppiyung.recruit">
      <!-- 기업 회원 - 새 공고 게시 -->
      <insert id="insert" parameterType="Recruit" >
         <![CDATA[
			INSERT INTO recruit_tb (company_id, recruit_title, recruit_detail, work_area_id, recruit_start_at, recruit_end_at)
			VALUES(#{company_id}, #{recruit_title}, #{recruit_detail}, #{work_area_id}, #{recruit_start_at}, #{recruit_end_at})
		  ]]>
      </insert>
       <!-- 기업회원 - 공고 수정 -->
       <update id ="update" parameterType="Recruit">
          <![CDATA[
			UPDATE  recruit_tb 
			SET recruit_title=#{recruit_title},recruit_detail=#{recruit_detail}, work_area_id=#{work_area_id}, recruit_start_at=#{recruit_start_at}, recruit_end_at=#{recruit_end_at}
		    WHERE recruit_id=#{recruit_id}
		  ]]>
	   </update>
  
       <!-- 기업회원 - 공고 삭제 -->
       <update id ="delete" parameterType="Recruit">
          <![CDATA[
			DELETE FROM recruit_tb 
			WHERE recruit_id=#{recruit_id}
		  ]]>
	   </update>
	   
	   <!-- 전체 채용 공고 조회 -->
	   <select id="selectAll" resultType="Recruit">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	      ]]>
	   </select>
	   
	   <!-- 직무별 채용 공고 조회 -->
	   <select id="selectByWorkAreaId" parameterType="Integer" resultType="Recruit">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	         WHERE work_area_id=#{work_area_id}
	      ]]>
	   </select>
	   
	   <!-- 키워드로 채용 공고 조회 -->
	   <select id="selectByKeyword" parameterType="String" resultType="Recruit">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	         WHERE recruit_title LIKE CONCAT ('%',#{keyword},'%') OR recruit_detail LIKE CONCAT ('%',#{keyword},'%')
	      ]]>
	   </select>
	   
	   
  </mapper>
  
  