<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.ppiyung.ppiyung.recruit">
	<resultMap id="RecruitMapped" type="Recruit">
		<result property="recruitId" column="recruit_id" />
		<result property="companyId" column="company_id" />
		<result property="recruitTitle" column="recruit_title" />
		<result property="recruitDetail" column="recruit_detail" />
		<result property="workAreaId" column="work_area_id" />
		<result property="recruitStartAt" column="recruit_start_at" />
		<result property="recruitEndAt" column="recruit_end_at" />
		<result property="companyName" column="member_name" />
	</resultMap>
	
	
	
	
  
      <!-- 기업 회원 - 새 공고 게시 -->
      <insert id="insert" parameterType="Recruit" >
         <![CDATA[
			INSERT INTO recruit_tb (company_id, recruit_title, recruit_detail, work_area_id, recruit_start_at, recruit_end_at)
			VALUES(#{companyId}, #{recruitTitle}, #{recruitDetail}, #{workAreaId}, #{recruitStartAt}, #{recruitEndAt})
		  ]]>
      </insert>
       <!-- 기업회원 - 공고 수정 -->
       <update id ="update" parameterType="Recruit">
          <![CDATA[
			UPDATE  recruit_tb 
			SET recruit_title=#{recruitTitle},recruit_detail=#{recruitDetail}, work_area_id=#{workAreaId}, recruit_start_at=#{recruitStartAt}, recruit_end_at=#{recruitEndAt}
		    WHERE recruit_id=#{recruitId}
		  ]]>
	   </update>
  
       <!-- 기업회원 - 공고 즉시 마감 -->
       <update id ="updateEndAt" parameterType="Integer">
          <![CDATA[
			UPDATE recruit_tb
			SET recruit_end_at=NOW()
			WHERE recruit_id=#{recruitId}
		  ]]>
	   </update>
	   
	   <!-- 전체 채용 공고 조회 -->
	   <select id="selectAll" parameterType="PagingEntity" resultMap="RecruitMapped">
	      <![CDATA[
	         SELECT r.*, m.member_name FROM recruit_tb AS r
	         JOIN member_tb AS m
             ON r.company_id=m.member_id
	         ORDER BY recruit_id DESC
	         LIMIT #{skip}, #{amount}
	      ]]>
	   </select>
	   
	   <!-- 직무별 채용 공고 조회 -->
	   <select id="selectByWorkAreaId" parameterType="Integer" resultMap="RecruitMapped">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	         WHERE work_area_id=#{workAreaId}
	      ]]>
	   </select>
	   
	   <!-- 키워드로 채용 공고 조회 -->
	   <select id="selectByKeyword" parameterType="String" resultMap="RecruitMapped">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	         WHERE recruit_title LIKE CONCAT ('%',#{keyword},'%') OR recruit_detail LIKE CONCAT ('%',#{keyword},'%')
	      ]]>
	   </select>
	   
	   <!--  기업별 채용 공고 현황 조회 ; 해당 기업 채용공고 지원자 수  -->
	   <select id="selectRecruiting" parameterType="String" resultType="_int">
			<![CDATA[ 
				SELECT COUNT(recruit_id) FROM recruit_tb 
				WHERE (company_id=#{companyId} AND recruit_end_at >= NOW()) ]]>
	   </select>
		
	   <select id="selectClosedRecruit" parameterType="String" resultType="_int">
			<![CDATA[ 
				SELECT COUNT(recruit_id) FROM recruit_tb 
				WHERE (company_id=#{companyId} AND recruit_end_at < NOW()) ]]>
	   </select>
		
	   <select id="selectApplicantsPassed" parameterType="String" resultType="_int">
			<![CDATA[ 
				SELECT COUNT(apply_id) FROM apply_tb 
				WHERE apply_result = '1' AND recruit_id 
				IN (SELECT recruit_id FROM recruit_tb WHERE company_id = #{companyId}) ]]>
	   </select>
	   
	   <select id="selectAllApplicants" parameterType="String" resultType="_int">
			<![CDATA[ 
				SELECT COUNT(apply_id) FROM apply_tb 
				WHERE recruit_id 
				IN (SELECT recruit_id FROM recruit_tb WHERE company_id = #{companyId}) ]]>
		</select>
	   
	   <!-- 기업별 채용 공고 전체 목록 조회 -->
	   <select id="selectAllByCompany" parameterType="String" resultMap="RecruitMapped">
	      <![CDATA[
	         SELECT * FROM recruit_tb
	         WHERE company_id = #{companyId}
	      ]]>
	   </select>
	   
	   <!-- 채용공고 상세 조회 -->
	   <select id="selectAllDetailRecruit" parameterType="String" resultMap="RecruitMapped">
	   	  <![CDATA[
	   	  	SELECT * FROM recruit_tb
	   	  	WHERE recruit_id = #{recruitId}
	   	  ]]>
	   </select>
	   

	   
  </mapper>
  
  