<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.ppiyung.ppiyung.suggest">
	<resultMap id="SuggestMapped" type="Suggest">
		<result property="suggestId" column="suggest_id" />
		<result property="suggestCreatedAt" column="suggest_created_at" />
		<result property="memberId" column="member_id" />
		<result property="companyId" column="company_id" />
		<result property="companyName" column="company_name"/>
    </resultMap>
    
    <!-- 기업회원 -입사 제안보내기 -->
    <insert id="insert" parameterType="Suggest" useGeneratedKeys="true"
    keyProperty="suggestId">
        <![CDATA[
          INSERT INTO suggest_tb (company_id, member_id)
          VALUES (#{companyId}, #{memberId})
        ]]>
    </insert>
   
   <!-- 일반회원-회원별 받은 입사제안 조회 -->
   <select id="selectSuggestByMember" parameterType="String" resultMap="SuggestMapped">
        <![CDATA[
          SELECT S.suggest_id , S.suggest_created_at, S.company_id, S.member_id, M.member_name as company_name
			FROM suggest_tb AS S
			JOIN member_tb AS M
			ON  S.company_id = M.member_id
			WHERE S.member_id = #{memberId}
			ORDER BY S.suggest_created_at DESC
        ]]>
   </select>
  
   <!-- 기업회원-기업별 보낸 입사제안 조회 -->
   <select id="selectByCompany" parameterType="String" resultMap="SuggestMapped">
        <![CDATA[
          SELECT * FROM suggest_tb
          WHERE company_id = #{companyId}
        ]]>
   </select>
 </mapper>  